.cta-content {
  position: relative;
  z-index: 9;
}

.cta-content .sub-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  font-family: var(--secondary-font);
  display: block;
  margin-bottom: 10px;
  color: var(--secondary-color);;
}

.cta-content .sub-title span {
  font-weight: 400;
  color: var(--primary-color);
}

.cta-content .title {
  font-size: 34px;
  margin-bottom: 30px;
  color: var(--secondary-color);;
}

.cta-content .title.fz-48 {
  font-size: 48px;
}

.cta-content .title span {
  font-weight: 400;
  color: var(--primary-color);
}

.cta-content .shape {
  position: absolute;
  z-index: 1;
}

.cta-content .shape-1 {
  z-index: 11;
  top: -50px;
  left: 50px;
}

.cta-content .shape-1 span {
  display: block;
  width: 52px;
  height: 52px;
  text-indent: -9999px;
  border: 7px solid #e6dcd2;
  border-radius: 50%;
}

.cta-content .shape-2 {
  left: -20px;
  bottom: 0px;
}

.cta-content .shape-3 {
  top: 10px;
  right: -70px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .cta-content .shape-3 {
    right: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-content .shape-3 {
    top: 20px;
    right: -10px;
    width: 100px;
    max-width: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-content .shape-3 {
    top: 20px;
    right: -10px;
    width: 80px;
    max-width: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .cta-content .shape-2 {
    left: -10px;
    bottom: 0px;
    width: 60px;
    max-width: 60px;
    z-index: -1;
  }
  .cta-content .shape-3 {
    top: 20px;
    right: -20px;
    width: 60px;
    max-width: 60px;
  }
}