{% if module.layout == 'layout-one' %}
<div class="button-wrap">
  {% set href = module.btn_link.url.href %}
  {% if module.btn_link.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
  {% endif %}
  {% set rel = [] %}
  {% if module.btn_link.no_follow %}
    {% do rel.append("nofollow") %}
  {% endif %}
  {% if module.btn_link.open_in_new_tab %}
    {% do rel.append("noopener") %}
  {% endif %}
  <a class="btn btn-primary btn-hover-secondary" href="{{ href }}"
    {% if module.btn_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
    >
    {{ module.btn_text }}
  </a>
</div>
{% else %}
<div class="button-wrap">
  {% set href = module.btn_link.url.href %}
    {% if module.btn_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    <a class="btn btn-primary btn-hover-secondary btn-xs" href="{{ href }}"
      {% if module.btn_link.open_in_new_tab %}target="_blank"{% endif %}
      {% if module.btn_link.rel %}rel="{{ module.btn_link.rel }}"{% endif %}
      >
      {{ module.btn_text }}
    </a>
</div>
{% endif %}