<!-- Success Section Start  -->
<div class="success-section section section-padding {{ module.section_class }}">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section-title text-center {{ module.section_title_class }}" data-aos="{{ module.animation_name }}">
      <span class="sub-title secondary-color">{{ module.section_subtitle }}</span>
      <h2 class="title heading-color">{{ module.section_title }}</h2>
    </div>
    <!-- Section Title End -->

    <div class="row">
      <div class="col-lg-12">
        <div class="mx-timeline">
          <ul class="mx-timeline-list mx-animation-queue">
            <li class="line"></li>
            {% for item in module.timeline_item %}
              <li class="item animate {{ item.timeline_class }}">
              <div class="dots">
                <div class="middle-dot"></div>
              </div>

              <div class="row">
                <div class="col-md-6 timeline-col left timeline-feature">
                  <div class="inner">
                    <div class="title-wrap">
                      <h5 class="title">{{ item.timeline_title }}</h5>
                    </div>

                    <div class="timeline-image">
                      {% if item.timeline_image.src %}
                        {% set sizeAttrs = 'width="{{ item.timeline_image.width }}" height="{{ item.timeline_image.height }}"' %}
                        {% if item.timeline_image.size_type == 'auto' %}
                          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                        {% elif item.timeline_image.size_type == 'auto_custom_max' %}
                          {% set sizeAttrs = 'width="{{ item.timeline_image.max_width }}" height="{{ item.timeline_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                        {% endif %}
                         {% set loadingAttr = item.timeline_image.loading != 'disabled' ? 'loading="{{ item.timeline_image.loading }}"' : '' %}
                        <img class="img-fluid" src="{{ item.timeline_image.src }}" alt="{{ item.timeline_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-md-6 timeline-col right timeline-info">
                  <div class="inner">
                    <div class="timeline-content-wrap">
                      <div class="timeline-content-body">
                        <h4 class="title">{{ item.timeline_subtitle }}</h4>

                        <p>{{ item.timeline_desc }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Success Section End  -->