  /* 05.03 Mobile Menu Toggle CSS */
.header-mobile-menu-toggle, .mobile-menu-close, .fullscreen-search-close {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
  }
  
  .header-mobile-menu-toggle .toggle, .mobile-menu-close .toggle, .fullscreen-search-close .toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  .header-mobile-menu-toggle .toggle i, .mobile-menu-close .toggle i, .fullscreen-search-close .toggle i {
    position: relative;
    display: block;
    overflow: hidden;
    width: 24px;
    height: 2px;
  }
  
  .header-mobile-menu-toggle .toggle i + i, .mobile-menu-close .toggle i + i, .fullscreen-search-close .toggle i + i {
    margin-top: 6px;
  }
  
  .header-mobile-menu-toggle .toggle i::before, .mobile-menu-close .toggle i::before, .fullscreen-search-close .toggle i::before, .header-mobile-menu-toggle .toggle i::after, .mobile-menu-close .toggle i::after, .fullscreen-search-close .toggle i::after {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--heading-color);
  }
  
  .header-mobile-menu-toggle .toggle i.icon-top::before, .mobile-menu-close .toggle i.icon-top::before, .fullscreen-search-close .toggle i.icon-top::before, .header-mobile-menu-toggle .toggle i.icon-bottom::before, .mobile-menu-close .toggle i.icon-bottom::before, .fullscreen-search-close .toggle i.icon-bottom::before {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -webkit-transform: scaleX(1) translateZ(0);
            transform: scaleX(1) translateZ(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
  
  .header-mobile-menu-toggle .toggle i.icon-top::after, .mobile-menu-close .toggle i.icon-top::after, .fullscreen-search-close .toggle i.icon-top::after, .header-mobile-menu-toggle .toggle i.icon-bottom::after, .mobile-menu-close .toggle i.icon-bottom::after, .fullscreen-search-close .toggle i.icon-bottom::after {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scaleX(0) translateZ(0);
            transform: scaleX(0) translateZ(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
  
  .header-mobile-menu-toggle .toggle i.icon-middle::before, .mobile-menu-close .toggle i.icon-middle::before, .fullscreen-search-close .toggle i.icon-middle::before {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -webkit-transform: scaleX(1) translateZ(0);
            transform: scaleX(1) translateZ(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
  
  .header-mobile-menu-toggle .toggle i.icon-middle::after, .mobile-menu-close .toggle i.icon-middle::after, .fullscreen-search-close .toggle i.icon-middle::after {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scaleX(0) translateZ(0);
            transform: scaleX(0) translateZ(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
  }
  
  .header-mobile-menu-toggle .toggle:hover i::before, .mobile-menu-close .toggle:hover i::before, .fullscreen-search-close .toggle:hover i::before, .header-mobile-menu-toggle .toggle:hover i::after, .mobile-menu-close .toggle:hover i::after, .fullscreen-search-close .toggle:hover i::after {
    background-color: var(--primary-color);
  }
  
  .header-mobile-menu-toggle .toggle:hover i.icon-top::before, .mobile-menu-close .toggle:hover i.icon-top::before, .fullscreen-search-close .toggle:hover i.icon-top::before, .header-mobile-menu-toggle .toggle:hover i.icon-bottom::before, .mobile-menu-close .toggle:hover i.icon-bottom::before, .fullscreen-search-close .toggle:hover i.icon-bottom::before {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scaleX(0) translateZ(0);
            transform: scaleX(0) translateZ(0);
  }
  
  .header-mobile-menu-toggle .toggle:hover i.icon-top::after, .mobile-menu-close .toggle:hover i.icon-top::after, .fullscreen-search-close .toggle:hover i.icon-top::after, .header-mobile-menu-toggle .toggle:hover i.icon-bottom::after, .mobile-menu-close .toggle:hover i.icon-bottom::after, .fullscreen-search-close .toggle:hover i.icon-bottom::after {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -webkit-transform: scaleX(1) translateZ(0);
            transform: scaleX(1) translateZ(0);
  }
  
  .header-mobile-menu-toggle .toggle:hover i.icon-middle::before, .mobile-menu-close .toggle:hover i.icon-middle::before, .fullscreen-search-close .toggle:hover i.icon-middle::before {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scaleX(0) translateZ(0);
            transform: scaleX(0) translateZ(0);
  }
  
  .header-mobile-menu-toggle .toggle:hover i.icon-middle::after, .mobile-menu-close .toggle:hover i.icon-middle::after, .fullscreen-search-close .toggle:hover i.icon-middle::after {
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -webkit-transform: scaleX(1) translateZ(0);
            transform: scaleX(1) translateZ(0);
  }
  
  @media only screen and (max-width: 479px) {
    .header-mobile-menu-toggle, .mobile-menu-close, .fullscreen-search-close {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  
  .header-light .header-mobile-menu-toggle .toggle i::before, .header-light .mobile-menu-close .toggle i::before, .header-light .fullscreen-search-close .toggle i::before, .header-light .header-mobile-menu-toggle .toggle i::after, .header-light .mobile-menu-close .toggle i::after, .header-light .fullscreen-search-close .toggle i::after {
    background-color: #FFFFFF;
  }
  
  .header-light .header-mobile-menu-toggle .toggle:hover i::before, .header-light .mobile-menu-close .toggle:hover i::before, .header-light .fullscreen-search-close .toggle:hover i::before, .header-light .header-mobile-menu-toggle .toggle:hover i::after, .header-light .mobile-menu-close .toggle:hover i::after, .header-light .fullscreen-search-close .toggle:hover i::after {
    background-color: #FFFFFF;
  }



  /* 05.04 Mobile Menu CSS */
.site-main-mobile-menu {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .site-main-mobile-menu-inner {
    position: relative;
    z-index: 9;
    float: right;
    width: 360px;
    height: 100%;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    background-color: var(--secondary-color);;
    background-image: url("https://f.hubspotusercontent20.net/hubfs/20267820/maxcoach/bg-image/mobile-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
  }
  
  @media only screen and (max-width: 479px) {
    .site-main-mobile-menu-inner {
      width: 300px;
    }
  }
  
  .site-main-mobile-menu-inner::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(63, 58, 100, 0.9);
  }
  
  #page {
    position: relative;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .mobile-menu-open {
    overflow: hidden;
  }
  
  .mobile-menu-open #page {
    -webkit-transform: translateX(-360px);
        -ms-transform: translateX(-360px);
            transform: translateX(-360px);
  }
  
  .mobile-menu-open .site-main-mobile-menu {
    visibility: visible;
    opacity: 1;
  }
  
  .mobile-menu-open .site-main-mobile-menu-inner {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  
  .mobile-menu-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    padding: 0 15px 0 30px;
    background-color: #FFFFFF;
  }
  
  .mobile-menu-logo a {
    width: 158px;
  }
  
  .mobile-menu-close, .fullscreen-search-close {
    padding: 0;
  }
  
  .mobile-menu-close .toggle, .fullscreen-search-close .toggle {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .mobile-menu-close .toggle i, .fullscreen-search-close .toggle i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29px;
    height: 2px;
    margin: 0 !important;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  
  .mobile-menu-close .toggle i.icon-top, .fullscreen-search-close .toggle i.icon-top {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .mobile-menu-close .toggle i.icon-bottom, .fullscreen-search-close .toggle i.icon-bottom {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .mobile-menu-close .toggle:hover i::before, .fullscreen-search-close .toggle:hover i::before, .mobile-menu-close .toggle:hover i::after, .fullscreen-search-close .toggle:hover i::after {
    background-color: #111111;
  }
  
  .mobile-menu-content {
    overflow-y: auto;
    height: calc(100% - 80px);
    padding: 20px 30px 100px;
  }
  
  .site-mobile-menu > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .site-mobile-menu > ul > li {
    position: relative !important;
  }
  
  .site-mobile-menu > ul > li + li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .site-mobile-menu > ul > li > a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    padding-top: 19px;
    padding-right: 0;
    padding-bottom: 19px;
    padding-left: 0;
    color: #FFFFFF;
    border-bottom: 1px solid transparent;
  }
  
  .site-mobile-menu > ul > li .menu-toggle {
    position: absolute;
    top: 11px;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .site-mobile-menu > ul > li .menu-toggle i {
    font-size: 18px;
    line-height: 1;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .site-mobile-menu > ul > li .menu-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .site-mobile-menu > ul > li.open > a {
    border-bottom-color: rgba(255, 255, 255, 0.15);
  }
  
  .site-mobile-menu > ul > li.open > .menu-toggle {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .site-mobile-menu > ul > li.open > .menu-toggle i {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  
  .site-mobile-menu .sub-menu-2, .site-mobile-menu .mega-menu {
    display: none;
    margin: 14px 0;
    padding-left: 0;
    list-style: none;
  }
  
  .site-mobile-menu .sub-menu-2 li, .site-mobile-menu .mega-menu li {
    position: relative;
  }
  
  .site-mobile-menu .sub-menu-2 li > a, .site-mobile-menu .mega-menu li > a {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .site-mobile-menu .sub-menu-2 li > a:hover, .site-mobile-menu .mega-menu li > a:hover {
    color: #FFFFFF;
  }
  
  .site-mobile-menu .sub-menu-2 li .menu-toggle, .site-mobile-menu .mega-menu li .menu-toggle {
    top: 1px;
  }
  
  .site-mobile-menu .sub-menu-2 li.open > a, .site-mobile-menu .mega-menu li.open > a {
    color: #FFFFFF;
  }
  
  .site-mobile-menu .sub-menu-2 li.open > .menu-toggle, .site-mobile-menu .mega-menu li.open > .menu-toggle {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .site-mobile-menu .sub-menu-2 li.open > .menu-toggle i, .site-mobile-menu .mega-menu li.open > .menu-toggle i {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  
  .site-mobile-menu .sub-menu-2 ul, .site-mobile-menu .mega-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .site-mobile-menu .sub-menu-2 ul li a .badge, .site-mobile-menu .mega-menu ul li a .badge {
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #fe378c 0%, #fe5b34 100%);
    background-image: -o-linear-gradient(45deg, #fe378c 0%, #fe5b34 100%);
    background-image: linear-gradient(45deg, #fe378c 0%, #fe5b34 100%);
    display: inline-block;
    border-radius: 2px;
    padding: 4px 8px 3px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin: 0 0 0 7px;
  }
  
  .site-mobile-menu .sub-menu-2 ul li a .badge.primary, .site-mobile-menu .mega-menu ul li a .badge.primary {
    background-image: none;
    background-color: #20AD96 !important;
  }
  
  .site-mobile-menu .sub-menu-2 .sub-menu-2, .site-mobile-menu .mega-menu .sub-menu-2 {
    padding-left: 15px;
  }

.no-has-children .menu-toggle {
	display: none !important;
}