<!--
  templateType: page
  isAvailableForNewContent: true
  label: Course Details
  screenshotPath: ../images/template-previews/course-details.jpg
-->
{% extends './layouts/base-two.html' %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about p-0', label='Main section' %}

    {# Breadcrumb section #}
    {% dnd_section %}
        {% dnd_module "module_16458540106799" path="../modules/Breadcrumb", label="Breadcrumb"
        layout = 'layout-two', 
        section_class = '',
        section_bg_color = '#fff',
        page_title = 'Course Details',
        breadcrumb_group = [
            {
                'breadcrumb_class' : '',
                'breadcrumb_link' : { 'url': { 'type': 'CONTENT', 'href': './contact'}},
                'breadcrumb_text' : 'Home'
            },
            {
                'breadcrumb_class' : 'current',
                'breadcrumb_text' : 'Course Details'
            }
        ]


        %}
        
        {% end_dnd_module %}
    {% end_dnd_section %}
    {# End Breadcrumb section #}

    {# Course Section Start #}
    {% dnd_section %}
        {% dnd_module "module_164630115944121" path="../modules/Course Details", label="Course Details"
        layout = 'layout-two',
        section_class = '',
        course_tab_nav = [
          {
            'course_tab_link' : { 'url': { 'type': 'CONTENT', 'href': '#overview'}},
            'class_name' : 'active',
            'course_tab_link_text' : 'Overview'
          },
          {
            'course_tab_link' : { 'url': { 'type': 'CONTENT', 'href': '#curriculum'}},
            'course_tab_link_text' : 'Curriculum'
          },
          {
            'course_tab_link' : { 'url': { 'type': 'CONTENT', 'href': '#instructor'}},
            'course_tab_link_text' : 'Instructor'
          },
          {
            'course_tab_link' : { 'url': { 'type': 'CONTENT', 'href': '#reviews'}},
            'course_tab_link_text' : 'Reviews'
          }
        ],
        tab_content_group = [
          {
            'tab_content_id' : 'overview',
            'tab_content_class_name' : 'tab-pane fade show active',
            'main_content_class' : 'course-overview',
            'main_content' : '<h3 class="title">Course Description</h3>

            <p>Now more than ever, corporations are investing heavily in IT. The quality of these investments affects the daily work of millions.</p>

            <p>Yet it’s not uncommon to see industry surveys where the failure rates for IT projects is over 50%. It’s possible to do better and it’s possible to do so consistently. Use the Business Model Canvas to focus your company strategy and facilitate buy-in from stakeholders.</p>

            <div class="overview-course-video">
                <iframe title="Drive Digital Transformation With Platform Strategies | Info-Tech Analyst Perspective" src="https://www.youtube.com/embed/m-X1ExlQ9uE?feature=oembed"></iframe>
            </div>

            <p>In this two-week course, we’ll step through major challenges within corporate IT and how to address them with the disciplined use of design thinking, Lean Startup, and agile as a team framework.</p>

            <p>Translate your work on the Canvas to specific charters in IT. Rapidly prototype strategically-aligned processes for implementation within your IT infrastructure. How do you define a customer-centric strategy you can actually execute? To do strategic IT, you’ve got to have a strategy! Ideally, you need one that’s easy to understand and use as a clear basis for action.</p>

            <p>That’s what you’ll learn in this course.</p>

            <h3 class="title">A Short Description</h3>

            <p>A customer-centric way of doing business is a way that provides a positive customer experience before and after the sale in order to drive repeat business, enhance customer loyalty and improve business growth.</p>

            <p>But, a customer-centric company is more than a company that offers good service. Both Amazon and Zappos are prime examples of brands that are customer-centric and have spent years creating a culture around the customer and their needs. Their commitment to delivering customer value is genuine – In fact, Zappos is happy to fire employees if they do not fit within their customer-centric culture!</p>

            <p>But, how important is being customer-centric? The good news is that’s becoming very important! Econsultancy recently asked what the most important characteristic is in order to establish a truly “digital-native” culture. The answer to that question and leading the responses with 58% was to be customer-centric. </p>

            <p>Enroll in this course to find out.</p>'
          },
          {
            'tab_content_id' : 'curriculum',
            'tab_content_class_name' : 'tab-pane fade',
            'main_content_class' : 'course-curriculum',
            'main_content' : '<ul class="curriculum-sections">
            <li class="single-curriculum-section">
                <div class="section-header">
                    <div class="section-left">

                        <h5 class="title">Change simplification</h5>
                        <p class="section-desc">General introduction to customer-centric strategies</p>

                    </div>
                </div>
                <ul class="section-content">

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 01: Simple, attainable goals</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">30 min</span>
                                <span class="item-meta item-meta-icon video">
                                    <i class="far fa-video"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Live meeting about Infotech Strategies</span>
                            <div class="course-item-meta">
                                <i class="fas fa-lock-alt"></i>
                                <span class="item-meta item-meta-icon zoom-meeting">
                                    <i class="far fa-users-class"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Quiz 1: Yes or No?</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">3 questions</span>
                                <span class="item-meta duration">15 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Quiz 2: A simple simulation game</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">0 question</span>
                                <span class="item-meta duration">50 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 02: A/B Testing</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">02 hour</span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Quiz 3: Role-play game</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">1 question</span>
                                <span class="item-meta duration">01 hour</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Quiz 4: Short Interview</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">9 questions</span>
                                <span class="item-meta duration">10 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 03: Wrap up about A/B testing</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">30 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Quiz 5: 15 mins of Yes/No questions</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">3 questions</span>
                                <span class="item-meta duration">10 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">

                            <span class="item-name">Quiz 6: Quick answers</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">0 question</span>
                                <span class="item-meta duration">10 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="single-curriculum-section">
                <div class="section-header">
                    <div class="section-left">

                        <h5 class="title">Customer Advisory Board</h5>
                        <p class="section-desc">Learn about the basics of Customer Advisory Board</p>

                    </div>
                </div>
                <ul class="section-content">

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 04: Customer Advisory Board</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">30 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 05: The role of Customer Advisory Board</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">45 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 06: Customer Advisory Board Institutions</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">3 questions</span>
                                <span class="item-meta duration">15 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Mid-term test : 60-min writing test</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">5 question</span>
                                <span class="item-meta duration">01 hour</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="single-curriculum-section">
                <div class="section-header">
                    <div class="section-left">

                        <h5 class="title">Feedback survey</h5>
                        <p class="section-desc">The major things about conducting a survey and manage feedback</p>

                    </div>
                </div>
                <ul class="section-content">

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 07: The importance of customer feedback</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">30 min</span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 08: Customers’ roles</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">45 min</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link lesson" href="JavaScript:Void(0);">
                            <span class="item-name">Lesson 09: How to conduct the survey</span>
                            <div class="course-item-meta">
                                <span class="item-meta duration">01 hour</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="course-item">
                        <a class="section-item-link" href="JavaScript:Void(0);">
                            <span class="item-name">Discussion: How to write good survey and poll questions?</span>
                            <div class="course-item-meta">
                                <span class="item-meta count-questions">0 question</span>
                                <span class="item-meta duration">01 hour</span>
                                <span class="item-meta item-meta-icon">
                                    <i class="fas fa-lock-alt"></i>
                                </span>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="single-curriculum-section">
                <div class="section-header">
                    <div class="section-left">

                        <h5 class="title">Professor for a Day Simulation</h5>
                        <p class="section-desc">This simulation will be held by tutors and learners online.</p>

                    </div>
                </div>
                <div class="learn-press-message success ml-15 mr-15">
                    <i class="fa"></i>No items in this section
                </div>
            </li>

            <li class="single-curriculum-section">
                <div class="section-header">
                    <div class="section-left">

                        <h5 class="title">Customer Behavior Case Studies</h5>
                        <p class="section-desc">In this section, learners will have a chance to discuss thoroughly the role of customer behaviors in business.</p>

                    </div>
                </div>
            </li>
        </ul>'
          },
          {
            'tab_content_id' : 'instructor',
            'tab_content_class_name' : 'tab-pane fade',
            'main_content_class' : 'course-instructor',
            'main_content' : '<div class="row">
            <div class="col-md-4">
                <div class="profile-image">
                    <img src="https://f.hubspotusercontent20.net/hubfs/20267820/maxcoach/instructor/instructor.jpeg" alt="profile">
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-info">
                    <h5>Maggie Strickland</h5>
                    <div class="author-career">/Advanced Educator</div>
                    <p class="author-bio">Maggie is a brilliant educator, whose life was spent for computer science and love of nature. Being a female, she encountered a lot of obstacles and was forbidden to work in this field by her family. With a true spirit and talented gift, she was able to succeed and set an example for others.</p>


                    <ul class="author-social-networks">
                        <li class="item">
                            <a href="JavaScript:Void(0);" target="_blank" class="social-link"> <i class="fab fa-twitter social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="JavaScript:Void(0);" target="_blank" class="social-link"> <i class="fab fa-facebook-f social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="JavaScript:Void(0);" target="_blank" class="social-link"> <i class="fab fa-instagram social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="JavaScript:Void(0);" target="_blank" class="social-link"> <i class="fab fa-pinterest social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="JavaScript:Void(0);" target="_blank" class="social-link"> <i class="fab fa-youtube social-link-icon"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>',
          },
          {
            'tab_content_id' : 'reviews',
            'tab_content_class_name' : 'tab-pane fade',
            'main_content_class' : 'course-reviews',
            'main_content' : '<div class="course-rating">
            <h3 class="title">Reviews</h3>
            <div class="course-rating-content">
                <div class="average-rating">
                    <p class="rating-title secondary-color">Average Rating</p>
                    <div class="rating-box">
                        <div class="average-value primary-color">
                            4.50
                        </div>
                        <div class="review-star">
                            <div class="tm-star-rating">
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star"></span>
                                <span class="fas fa-star-half-alt"></span>
                            </div>
                        </div>
                        <div class="review-amount">
                            (2 ratings)
                        </div>
                    </div>
                </div>
                <div class="detailed-rating">
                    <p class="rating-title secondary-color">Detailed Rating</p>
                    <div class="rating-box">
                        <div class="rating-rated-item">
                            <div class="rating-point">
                                <div class="tm-star-rating">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                            </div>
                            <div class="rating-progress">
                                <div class="single-progress-bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rating-count">1</div>
                        </div>

                        <div class="rating-rated-item">
                            <div class="rating-point">
                                <div class="tm-star-rating">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                </div>
                            </div>
                            <div class="rating-progress">
                                <div class="single-progress-bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rating-count">1</div>
                        </div>

                        <div class="rating-rated-item">
                            <div class="rating-point">
                                <div class="tm-star-rating">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                </div>
                            </div>
                            <div class="rating-progress">
                                <div class="single-progress-bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rating-count">0</div>
                        </div>

                        <div class="rating-rated-item">
                            <div class="rating-point">
                                <div class="tm-star-rating">
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                </div>
                            </div>
                            <div class="rating-progress">
                                <div class="single-progress-bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rating-count">0</div>
                        </div>

                        <div class="rating-rated-item">
                            <div class="rating-point">
                                <div class="tm-star-rating">
                                    <span class="fas fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                    <span class="far fa-star"></span>
                                </div>
                            </div>
                            <div class="rating-progress">
                                <div class="single-progress-bar">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rating-count">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="course-reviews-area">
            <ul class="course-reviews-list">
                <li class="review">
                    <div class="review-container">
                        <div class="review-author">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20267820/maxcoach/review-author/author1.jpeg" alt="author">
                        </div>
                        <div class="review-content">
                            <h4 class="title">ednawatson</h4>
                            <div class="review-stars-rated" title="5 out of 5 stars">
                                <div class="review-stars empty"></div>
                            </div>
                            <h5 class="review-title">Cover all my needs </h5>
                            <div class="review-text">
                                The course identify things we want to change and then figure out the things that need to be done to create the desired outcome. The course helped me in clearly define problems and generate a wider variety of quality solutions. Support more structures analysis of options leading to better decisions.
                            </div>
                        </div>
                    </div>
                </li>

                <li class="review">
                    <div class="review-container">
                        <div class="review-author">
                            <img src="https://f.hubspotusercontent20.net/hubfs/20267820/maxcoach/review-author/author2.jpeg" alt="author">
                        </div>
                        <div class="review-content">
                            <h4 class="title">Owen Christ</h4>
                            <div class="review-stars-rated" title="5 out of 5 stars">
                                <div class="review-stars empty"></div>
                            </div>
                            <h5 class="review-title">Engaging & Fun</h5>
                            <div class="review-text">
                                This is the third course I attend from you, and I absolutely loved all of them. Especially this one on leadership. Your method of explaining the concepts, fun, engaging and with real-world examples, is excellent. This course will help me a lot in my job, my career, and life in general, and I thank you for that. Thank you for improving the lives of many people with engaging and in-depth courses.
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>'
          }
        ],
        price_icon = '<i class="meta-icon far fa-money-bill-wave"></i>',
        price_text = 'Price',
        price_amount_text = '$19<span class="decimals-separator">.00</span>',
        cr_meta_item = [
          {
            'cr_meta_class_name' : 'course-instructor',
            'cr_meta_icon' : '<i class="far fa-chalkboard-teacher"></i>',
            'cr_meta_text' : 'Instructor', 
            'cr_meta_value' : 'Maggie Strickland'
          },
          {
            'cr_meta_class_name' : 'course-duration',
            'cr_meta_icon' : '<i class="far fa-clock"></i>',
            'cr_meta_text' : 'Duration', 
            'cr_meta_value' : '15 weeks'
          },
          {
            'cr_meta_class_name' : 'course-lectures',
            'cr_meta_icon' : '<i class="far fa-file-alt"></i>',
            'cr_meta_text' : 'Lectures', 
            'cr_meta_value' : '24'
          },
          {
            'cr_meta_class_name' : 'course-students',
            'cr_meta_icon' : '<i class="far fa-user-alt"></i>',
            'cr_meta_text' : 'Enrolled', 
            'cr_meta_value' : '629 students'
          },
          {
            'cr_meta_class_name' : 'course-language',
            'cr_meta_icon' : '<i class="far fa-language"></i>',
            'cr_meta_text' : 'Language', 
            'cr_meta_value' : 'English'
          },
          {
            'cr_meta_class_name' : 'course-time',
            'cr_meta_icon' : '<i class="far fa-calendar"></i>',
            'cr_meta_text' : 'Deadline', 
            'cr_meta_value' : '05 Jan  2019'
          }
        ],
        cr_enroll_btn_text = 'Enroll',
        cr_social_text_label = 'Share this course',
        cr_social_icon_label = '<span class="share-icon far fa-share-alt"></span>',
        cr_social_item = [
          {
            'cr_social_link' : { 'url': { 'type': 'EXTERNAL', 'href': 'https://www.facebook.com/'}},
            'cr_social_link_icon' : '<i class="fab fa-facebook-f"></i>'
          },
          {
            'cr_social_link' : { 'url': { 'type': 'EXTERNAL', 'href': 'https://twitter.com'}},
            'cr_social_link_icon' : '<i class="fab fa-twitter"></i>'
          },
          {
            'cr_social_link' : { 'url': { 'type': 'EXTERNAL', 'href': 'https://www.linkedin.com/'}},
            'cr_social_link_icon' : '<i class="fab fa-linkedin"></i>'
          },
          {
            'cr_social_link' : { 'url': { 'type': 'EXTERNAL', 'href': 'https://www.tumblr.com/'}},
            'cr_social_link_icon' : '<i class="fab fa-tumblr-square"></i>'
          }
        ]
        %}

        {% end_dnd_module %}
    {% end_dnd_section %}
    {# Course Section End #}

    {# Related Course Start #}
    {% dnd_section %}
        {% dnd_module "module_164630060912919" path="../modules/Home Course", label="Home Course"
        layout = 'layout-seven',
        section_class = '',
        animation_name = 'fade-up',
        section_title_class = '',
        section_title = 'Related Courses​',
        course_item = [
            {
                'course_badge' : '',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-1.jpg') 
                    },
                'course_price' : '$40<span>.00</span>',
                'course_title' : 'Learning to Write as a Professional Author',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '20 Lessons'
                    },
                    {
                        'meta_icon' : '<i class="far fa-user-alt"></i>',
                        'meta_text' : '51 Students'
                    }
                ]
            },
            {
                'course_badge' : 'Free',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-2.jpg') 
                    },
                'course_price' : '$0<span>.00</span>',
                'course_title' : 'Learning to Write as a Professional Author',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '23 Lessons'
                    }
                ]
            },
            {
                'course_badge' : '',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-3.jpg') 
                    },
                'course_price' : '$19<span>.00</span>',
                'course_title' : 'Open Programming Courses for Everyone: Python',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '16 Lessons'
                    },
                    {
                        'meta_icon' : '<i class="far fa-user-alt"></i>',
                        'meta_text' : '57 Students'
                    }
                ]
            },
            {
                'course_badge' : '',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-4.jpg') 
                    },
                'course_price' : '$26<span>.00</span>',
                'course_title' : 'Academic Listening and Note-taking',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '14 Lessons'
                    },
                    {
                        'meta_icon' : '<i class="far fa-user-alt"></i>',
                        'meta_text' : '67 Students'
                    }
                ]
            },
            {
                'course_badge' : '',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-5.jpg') 
                    },
                'course_price' : '$39<span>.00</span>',
                'course_title' : 'Master jQuery in a Short Period of Time',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '6 Lessons'
                    },
                    {
                        'meta_icon' : '<i class="far fa-user-alt"></i>',
                        'meta_text' : '45 Students'
                    }
                ]
            },
            {
                'course_badge' : '',
                'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
                'course_thumb' : { 
                        'alt': 'course image',
                        'size_type': 'auto', 
                        'src': get_asset_url('../images/courses/370/course-6.jpg') 
                    },
                'course_price' : '$59<span>.00</span>',
                'course_title' : 'Introduction to Javascript for Beginners',
                'meta_group' : [
                    {
                        'meta_icon' : '<i class="far fa-file-alt"></i>',
                        'meta_text' : '14 Lessons'
                    },
                    {
                        'meta_icon' : '<i class="far fa-user-alt"></i>',
                        'meta_text' : '70 Students'
                    }
                ]
            }
        ]
        
        %}
        {% end_dnd_module %}
    {% end_dnd_section %}
    {# Related Course End #}

 

  {% end_dnd_area %}
</main>
{% endblock body %}