<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home Three
  screenshotPath: ../images/template-previews/home-three.jpg
-->
{% extends "./layouts/base-three.html" %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--home p-0', label='Main section' %}
    
  {# Intro section two #}
  {% dnd_section %}
    {% dnd_module "module_164654442049910" path="../modules/Hero Banner", label="Hero Banner"
    layout = 'layout-three',
    intro_three = {
    'section_class' : '',
    'section_bg_image' : { 
        'alt': 'intro bg image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/intro/intro3/bg-1.jpg') 
      },
      'animation_name' : 'fade-up',
      'intro_subtitle' : 'Commence Business',
      'intro_title' : 'Distant Mentoring Program',
      'intro_link' : { 'url': { 'type': 'CONTENT', 'href': './contact'},},
      'intro_link_text' : 'Download free guidebook',
      'intro_link_icon' : '<i class="far fa-long-arrow-right ms-3"></i>'
    }
    
    %}
    
    {% end_dnd_module %}
  {% end_dnd_section %}
  {# End intro section two #}

  {# About Section Start #}
  {% dnd_section %}
    {% dnd_module "module_162987946845825" path="../modules/home-three-about", label="home-three-about" 
    
    section_class = '',
    section_bg_color = '#f5f5f5',
    about_subtitle = 'Get to know about <strong>MaxCoach</strong>',
    about_title = 'Learn about our <span>Work Culture</span> at MaxCoach',
    about_desc_text = 'Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We are opening new classes every beginning of each month. ',
    about_link = { 'url': { 'type': 'CONTENT', 'href': './about'},},
    about_link_text = 'Have questions?​ <mark>Get Free Form <i class="far fa-long-arrow-right"></i></mark>',
    about_image_one = { 
      'alt': 'About Thumb one',
      'size_type': 'auto', 
      'src': get_asset_url('../images/about/about01/about1.jpg') 
    },
    about_image_two = { 
      'alt': 'About Thumb two',
      'size_type': 'auto', 
      'src': get_asset_url('../images/about/about01/about2.jpg') 
    },
    shape_image_one = { 
      'alt': 'shape image one',
      'size_type': 'auto', 
      'src': get_asset_url('../images/shape-animation/about-shape-1.png') 
    },
    shape_image_three = { 
      'alt': 'shape image one',
      'size_type': 'auto', 
      'src': get_asset_url('../images/shape-animation/shape-1.png') 
    },
    
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}
  {# About Section End #}

  {# Funfact Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164593702089027" path="../modules/Funfact", label="Funfact" 
    layout = 'layout-three', 
    section_class = '',
    section_bg_color = '#f5f5f5',
    funfact_item_group = [
      {
        'funfact_animation_name' : 'fade-up',
        'funfact_counter' : '<span class="counter">3.092</span>+',
        'funfact_title' : 'Registered Enrolls'
      },
      {
        'funfact_animation_name' : 'fade-up',
        'funfact_counter' : '<span class="counter">1.926</span>',
        'funfact_title' : 'Finished sessions'
      },
      {
        'funfact_animation_name' : 'fade-up',
        'funfact_counter' : '<span class="counter">100</span>%',
        'funfact_title' : 'Satisfaction rate'
      }
    ]
    
    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Funfact Section End #}


  {# About Video Section Start #}
  {% dnd_section %}
    {% dnd_module "module_16462218113128" path="../modules/Home Video", label="Home Video" 
    layout = 'layout-one',
    section_class = '',
    section_bg_color = '#f5f5f5',
    video_popup_link = { 'url': { 'type': 'EXTERNAL', 'href': 'https://www.youtube.com/watch?v=eS9Qm4AOOBY'},},
    animation_name = 'fade-up',
    video_banner_image = { 
        'alt': 'Video banner image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/video/about-video.jpg') 
      },
      video_icon = { 
        'alt': 'Video icon',
        'size_type': 'auto', 
        'src': get_asset_url('../images/icons/icon-youtube-play.png') 
      },
      shape_image_one = { 
      'alt': 'shape image',
      'size_type': 'auto', 
      'src': get_asset_url('../images/shape-animation/shape-2.svg') 
    },
    shape_image_two = { 
        'alt': 'shape image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-3.png') 
      },
      shape_image_three = { 
          'alt': 'shape image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/shape-animation/shape-1.png') 
        },
        about_subtitle = 'how we work',
        about_title = 'Upgrade Your Skills <span>Upgrade Your Life</span>',
        about_desc_text = 'Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We are opening new classes every beginning of each month. ',
        about_link = { 'url': { 'type': 'CONTENT', 'href': './about'},},
        about_link_text = '<mark>Download free guidebook <i class="far fa-long-arrow-right"></i></mark>'
    
    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# About Video Section End #}

  {# Course Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164595274961343" path="../modules/Home Course", label="Home Course"
    layout = 'layout-three', 
    section_class = '',
    section_bg_color = '#f5f5f5',
    section_title_class = '',
    animation_name = 'fade-up',
    section_subtitle = 'Join MaxCoach at best',
    section_title = 'Latest Online <span>Courses</span>',
    course_item = [
      {
        'course_badge' : '',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-1.jpg') 
        },
        'course_price' : '$40<span>.00</span>',
        'course_title' : 'Learning to Write as a Professional Author',
        'meta_group' : [
          {
            'meta_icon' : '<i class="far fa-file-alt"></i>',
            'meta_text' : '20 Lessons'
          },
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '51 Students'
          }
        ]
      },
      {
        'course_badge' : 'Free',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-2.jpg') 
        },
        'course_price' : '$0<span>.00</span>',
        'course_title' : 'Customer-centric Info-Tech Strategies',
        'meta_icon_group' : [
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '51 Students'
          }
        ]
      },
      {
        'course_badge' : '',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-3.jpg') 
        },
        'course_price' : '$19<span>.00</span>',
        'course_title' : 'Open Programming Courses for Everyone: Python',
        'meta_icon_group' : [
          {
            'meta_icon' : '<i class="far fa-file-alt"></i>',
            'meta_text' : '16 Lessons'
          },
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '57 Students'
          }
        ]
      },
      {
        'course_badge' : '',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-4.jpg') 
        },
        'course_price' : '$26<span>.00</span>',
        'course_title' : 'Academic Listening and Note-taking',
        'meta_icon_group' : [
          {
            'meta_icon' : '<i class="far fa-file-alt"></i>',
            'meta_text' : '14 Lessons'
          },
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '67 Students'
          }
        ]
      },
      {
        'course_badge' : '',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-5.jpg') 
        },
        'course_price' : '$39<span>.00</span>',
        'course_title' : 'Master jQuery in a Short Period of Time',
        'meta_icon_group' : [
          {
            'meta_icon' : '<i class="far fa-file-alt"></i>',
            'meta_text' : '6 Lessons'
          },
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '45 Students'
          }
        ]
      },
      {
        'course_badge' : '',
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'}},
        'course_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/courses/370/course-6.jpg') 
        },
        'course_price' : '$59<span>.00</span>',
        'course_title' : 'Introduction to Javascript for Beginners',
        'meta_icon_group' : [
          {
            'meta_icon' : '<i class="far fa-file-alt"></i>',
            'meta_text' : '14 Lessons'
          },
          {
            'meta_icon' : '<i class="far fa-user-alt"></i>',
            'meta_text' : '70 Students'
          }
        ]
      }
    ],
    all_course_link = { 'url': { 'type': 'CONTENT', 'href': './course-grid-one'},},
    all_course_link_text = 'Get the most dedicated consultation for your life-changing course. Earn a certification for your effort and passion <mark>Get Free Guide <i class="far fa-long-arrow-right"></i></mark>'

    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Course Section End #}

  {# Testimonial Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164602431065922" path="../modules/Testimonial", label="Testimonial" 
    layout = 'layout-three', 
    section_class = '',
    testimonial_subtitle = 'Testimonials',
    testimonial_title = 'Why Do People <span>*Hearts* </span> Us?',
    testimonial_content_desc = 'Seeking for verbals of our service quality? Find them here. Everything is transparent and straightforward for your sense of jusitifcation.',
    testimonial_link = { 'url': { 'type': 'CONTENT', 'href': './about'},},
    testimonial_link_text = 'Have questions?​ <mark>Get Free Form <i class="far fa-long-arrow-right"></i></mark>',
    testimonial_item = [
      {
        'testimonial_class' : '',
        'testimonial_bg_color' : '#f5f5f5',
        'testimonial_title' : 'High level of efficiency and scientific teaching methods',
        'testimonial_excerpt' : 'I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.',
        'author_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/testimonial/70/testimonial-1.jpg') 
        },
        'author_name' : 'Florence Themes',
        'author_position' : '/ Multimedia Admin'
      },
      {
        'testimonial_class' : '',
        'testimonial_bg_color' : '#f5f5f5',
        'testimonial_title' : 'Professional team of specialists and passionate mentors at reach',
        'testimonial_excerpt' : 'I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.',
        'author_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/testimonial/70/testimonial-2.jpg') 
        },
        'author_name' : 'Madley Pondor',
        'author_position' : '/ IT Specialist'
      },
      {
        'testimonial_class' : '',
        'testimonial_bg_color' : '#f5f5f5',
        'testimonial_title' : 'Highly recommend their courses and teaching system',
        'testimonial_excerpt' : 'I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.',
        'author_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/testimonial/70/testimonial-3.jpg') 
        },
        'author_name' : 'Luvic Dubble',
        'author_position' : '/ Private Tutor'
      },
      {
        'testimonial_class' : '',
        'testimonial_bg_color' : '#f5f5f5',
        'testimonial_title' : 'High level of efficiency and scientific teaching methods',
        'testimonial_excerpt' : 'I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.',
        'testi_author_thumb' : { 
          'alt': 'courses image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/testimonial/70/testimonial-1.jpg') 
        },
        'author_name' : 'Florence Themes',
        'author_position' : '/ Multimedia Admin'
      }
    ]


    
    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Testimonial Section End #}

  {# Team Section Start #}
  {% dnd_section %}
    {% dnd_module "module_163012873160912" path="../modules/home-three-team", label="home-three-team" 
    
    section_class = '',
    team_image = { 
        'alt': 'team image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/team/home-3-team-image.png') 
      },
      shape_image_one = { 
        'alt': 'shape image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-2.svg') 
      },
      shape_image_two = { 
          'alt': 'shape image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/shape-animation/shape-3.png') 
        },
      shape_image_three = { 
        'alt': 'shape image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-1.png') 
      },
      shape_image_four = { 
        'alt': 'shape image',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/cta-shape-01.png') 
      },

      team_subtitle = 'Everything in <strong>MaxCoach</strong>',
      team_title = 'We’re Here To <span>Transform</span> You!',
      team_desc = 'As learners, people can enjoy great companionship from MaxCoach mentors and educators. We can help you develop and grow at your best. ',
      team_link = { 'url': { 'type': 'CONTENT', 'href': './about'},},
      team_link_text = 'Get Free Guide'
    
    %}
  {% end_dnd_module %}
  {% end_dnd_section %}
  {# Team Section End #}

  {# Blog Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164604968563358" path="../modules/Blog", label="Blog"
    layout = 'layout-one', 
    section_class = '',
    section_bg_color = '#f8f8f8',
    section_title_class = '',
    animation_name = 'fade-up',
    sub_title = 'Consider registering our courses?',
    title = 'Trending on <span>Our Blogs</span>'

    %}
  {% end_dnd_module %}
  {% end_dnd_section %}
  {# Blog Section End #}


  {# Newsletter Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164619298538613" path="../modules/Newsletter", label="Newsletter"
    layout = 'layout-one', 
    section_class = '',
    newsletter_title = 'Sign up for our <span>Newsletters</span>',
    newsletter_desc = 'Enter your email address to register to our newsletter subscription <br class="d-none d-md-block" />delivered on a regular basis!',
    shape_image_one = { 
          'alt': 'shape image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/shape-animation/nwesletter-shape-1.png') 
        },
    shape_image_two = { 
          'alt': 'shape image',
          'size_type': 'auto', 
          'src': get_asset_url('../images/shape-animation/nwesletter-shape-2.png') 
        },
    
    %}
  {% end_dnd_module %}
  {% end_dnd_section %}
  {# Newsletter Section End #}

  





  {% end_dnd_area %}
</main>
{% endblock body %}
