<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.jpg
-->
{% extends './layouts/base.html' %}

{% block header %}
  {% global_partial path='./partials/header-no-navigation.html' %}
{% endblock header %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd_area' class='body-container body-container--home p-0', label='Main section' %}

  {# Intro section #}
  {% dnd_section %}
    {% dnd_module "module_164654442049910" path="../modules/Hero Banner", label="Hero Banner" 
    layout = 'layout-one', 
    intro_one_item = {
    'section_class' : '',
    'section_image' : { 
        'alt': 'Intro Bg',
        'size_type': 'auto', 
        'src': get_asset_url('../images/intro/intro1/bg-1.jpg') 
    },
    'intro_subtitle' : 'MaxCoach is the lifebuoy',
    'intro_title' : 'In Mentoring <br>2B a Better You.',
    'intro_desc' : 'The right mentoring relationship can be a powerful tool for professional growth. Bark up the right tree.',
    'intro_btn_link' : { 'url': { 'type': 'CONTENT', 'href': './contact'},},
    'intro_btn_icon' : '<i class="far fa-download me-3"></i>',
    'intro_btn_link_text' : 'Download free guide',
    'intro_one_class' : '',
    'popular_course_icon' : { 
            'alt': 'Icon',
            'size_type': 'auto', 
            'src': get_asset_url('../images/intro/intro1/intro-popular-course.png') 
        },
    'intro_course_link' : { 'url': { 'type': 'CONTENT', 'href': './course-details'},},
    'intro_course_thumb' : { 
      'alt': 'Icon',
      'size_type': 'auto', 
      'src': get_asset_url('../images/courses/370/course-2.jpg') 
    },
    'intro_course_price' : 'Free',
    'intro_course_date' : 'Dec 23, 2019',
    'intro_course_title' : 'Customer-centric Info-Tech Strategies',
    'intro_course_desc' : 'Now more than ever, corporations are investing heavily in IT. The quality of these investments affects the daily …',
    'shape_animation_image' : { 
          'alt': 'Icon',
          'size_type': 'auto', 
          'src': get_asset_url('../images/shape-animation/shape-1.png') 
      },
      'animation_name' : 'fade-up'
    }


    %}
    
    {% end_dnd_module %}
  {% end_dnd_section %}
  {# End intro section #}

  {# Feature Section Start #}
  {% dnd_section %}
    {% dnd_module "module_164612505899622" path="../modules/Feature", label="Feature" 
    layout = 'layout-one', 
    section_class = '',
    section_bg_color = '#fff',
    section_title_class = '',
    animation_name = 'fade-up',
    section_subtitle = 'Education for everyone',
    section_title = 'Online <span>Coaching Lessons</span> For Remote Learning.',
    feature_item_group = [
      {
        'feature_link' : { 'url': { 'type': 'CONTENT', 'href': './about'}},
        'icon_class' : '',
        'feature_image' : { 
            'alt': 'icon',
            'size_type': 'auto', 
            'src': get_asset_url('../images/svg/linea/linea-basic-flag2.svg') 
        },
        'feature_title' : 'Life Mentoring',
        'feature_desc' : 'Get some soul healing and guidance for your future career and vocational directions.',
        'link_text' : 'Start here',
        'link_icon' : '<i class="far fa-long-arrow-right"></i>'
      },
      {
        'feature_link' : { 'url': { 'type': 'CONTENT', 'href': './about'}},
        'icon_class' : '',
        'feature_image' : { 
            'alt': 'icon',
            'size_type': 'auto', 
            'src': get_asset_url('../images/svg/linea/linea-basic-gear.svg') 
        },
        'feature_title' : 'Self Development',
        'feature_desc' : 'Develop skills for career of various majors including computer science & language competence.',
        'link_text' : 'Discover now',
        'link_icon' : '<i class="far fa-long-arrow-right"></i>'
      },
      {
        'feature_link' : { 'url': { 'type': 'CONTENT', 'href': './about'}},
        'icon_class' : '',
        'feature_image' : { 
            'alt': 'icon',
            'size_type': 'auto', 
            'src': get_asset_url('../images/svg/linea/linea-basic-life-buoy.svg') 
        },
        'feature_title' : 'Ask Consultancy',
        'feature_desc' : 'Make a reservation with our special consultant to learn whats best for your dream career.',
        'link_text' : 'Get Free Quote',
        'link_icon' : '<i class="far fa-long-arrow-right"></i>'
      },
      {
        'feature_link' : { 'url': { 'type': 'CONTENT', 'href': './about'}},
        'icon_class' : '',
        'feature_image' : { 
            'alt': 'icon',
            'size_type': 'auto', 
            'src': get_asset_url('../images/svg/linea/linea-basic-display.svg') 
        },
        'feature_title' : 'Remote Learning',
        'feature_desc' : 'Learn from anywhere in the world on desktop, tablet or mobile phone with an Internet connection.',
        'link_text' : 'Start now',
        'link_icon' : '<i class="far fa-long-arrow-right"></i>'
      }
    ]
    
    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Feature Section End #}

  {# Teacher Quote Section Start #}
  {% dnd_section %}
    {% dnd_module "module_162910689143434" path="../modules/teacher-quote", label="teacher-quote" 
      section_class = '',
      animation_name = 'fade-up',
      teracher_quote_thumb = { 
              'alt': 'Teacher thumb',
              'size_type': 'auto', 
              'src': get_asset_url('../images/others/teracher-quote-1.jpg') 
          },
      section_title_class = '',
      section_title = 'Ger rid of <span>Old School Assumptions</span>',
      quote_text = 'I assist learners in finding new effective belief and get rid of the outdated, discouraged and irrelevant life attitudes. Youre upgrading to be a better you.',
      experience_year_text = '19<span>years</span>',
      experience_title = 'Work Experience',
      quote_link = { 'url': { 'type': 'CONTENT', 'href': './about'},},
      quote_link_text = 'Get Free Guide',
      quote_link_icon = '<i class="far fa-long-arrow-right"></i>'

    %}

  {% end_dnd_module %}
  {% end_dnd_section %}
  {# Teacher Quote Section End #}

  {# Funfact Section Start #}
  {% dnd_section %}
    {% dnd_module "module_162911152000149" path="../modules/funfact-one", label="funfact-one" 

    section_class = '',
    section_bg_image = { 
        'alt': 'Section BG',
        'size_type': 'auto', 
        'src': get_asset_url('../images/bg/background-pattern-grid-line.png') 
      },
      section_bg_color = '#f5f1ed',
      section_title_class = '',
      animation_name = '',
      section_subtitle = 'MAXIMIZE YOUR POTENTIALS and possibilities',
      section_title = 'Learn the secrets to <span>Life Success</span>, <br>these people have got the key.',
      funfact_item_group = [
        {
          'funfact_animation_name' : 'fade-up',
          'counter_number' : '<span class="counter">3.092</span>+',
          'counter_title' : 'Registered Enrolls'
        },
        {
          'funfact_animation_name' : 'fade-up',
          'counter_number' : '<span class="counter">1.926</span>',
          'counter_title' : 'Finished sessions'
        },
        {
          'funfact_animation_name' : 'fade-up',
          'counter_number' : '<span class="counter">100</span>%',
          'counter_title' : 'Satisfaction rate'
        }
      ]

    %}

    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Funfact Section End #}

  {# Testimonial Section Start #}
  {% dnd_section %}
    {% dnd_module "module_162925957644111" path="../modules/testimonial-one", label="testimonial-one" 
    
    section_class = '',
    section_bg_image = { 
      'alt': 'Section BG',
      'size_type': 'auto', 
      'src': get_asset_url('../images/bg/background-pattern-grid-line.png') 
    },
    section_bg_color = '#f5f1ed',
    animation_name = 'fade-up',
    testimonial_item = [
      {
        'testimonial_thumb' : { 
            'alt': 'Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/testimonial/70/testimonial-1.jpg') 
          },
        'testi_excerpt' : 'I am happy with their arrangement of lessons and subjects. They reflect a scientific investigation into effective methods to adopt for learners.',
        'author_name' : 'Luvic Dubble',
        'position' : 'Private Tutor'
      },
      {
        'testimonial_thumb' : { 
            'alt': 'Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/testimonial/70/testimonial-2.jpg') 
          },
        'testi_excerpt' : 'Im a very strict person so I require everything to be organized and neat. Then, I will be able to make things right and shine. MaxCoach guys just got me.',
        'author_name' : 'Florence Themes',
        'position' : 'Multimedia Admin'
      },
      {
        'testimonial_thumb' : { 
            'alt': 'Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/testimonial/70/testimonial-3.jpg') 
          },
        'testi_excerpt' : 'I am free to learn at my own pace, follow my own schedule and choose the subject I want to learn from the syllabus. Great study portal for people like me.',
        'author_name' : 'Mina Hollace',
        'position' : 'Freelancer'
      },
      {
        'testimonial_thumb' : { 
            'alt': 'Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/testimonial/70/testimonial-4.jpg') 
          },
        'testi_excerpt' : 'I need to get a certification for English proficiency and MaxCoach is my best choice. Their tutors are smart and professional when dealing with students.',
        'author_name' : 'Madley Pondor',
        'position' : 'IT Specialist'
      }
    ]
    
    %}
    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Testimonial Section End #}

  {# Video Section Start #}
  {% dnd_section %}
  
    {% dnd_module "module_162927528660230" path="../modules/video-sectione-one", label="video-sectione-one"

    section_class = '',
    section_bg_image = { 
        'alt': 'Section BG',
        'size_type': 'auto', 
        'src': get_asset_url('../images/bg/background-pattern-grid-line.png') 
      },
      section_bg_color = '#f5f1ed',
      section_title_class = '',
      animation_name = 'fade-up',
      section_subtitle = 'The combination of all senses into learning',
      section_title = 'Learn with all your <span>SENSES​</span>',
      video_popup_link = { 'url': { 'type': 'EXTERNAL', 'href': 'https://www.youtube.com/watch?v=eS9Qm4AOOBY'},},
      video_banner_image = { 
            'alt': 'Video Banner Image',
            'size_type': 'auto', 
            'src': get_asset_url('../images/about/about-me/about-me-popup-video-poster.jpg') 
          },

      video_icon = { 
        'alt': 'Video Icon',
        'size_type': 'auto', 
        'src': get_asset_url('../images/icons/icon-youtube-play.png') 
      },

      animate_shape_one = { 
        'alt': 'Animate Shape One',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-2.svg') 
      },
      animate_shape_two = { 
        'alt': 'Animate Shape Two',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-3.png') 
      },
      animate_shape_three = { 
        'alt': 'Animate Shape Three',
        'size_type': 'auto', 
        'src': get_asset_url('../images/shape-animation/shape-1.png') 
      }

    %}


    {% end_dnd_module %}

  {% end_dnd_section %}
  {# Video Section End #}

  {# Course Section Start #}

  {% dnd_section %}

    {% dnd_module "module_162927932036044" path="../modules/home-course-one", label="home-course-one"
    
    section_class = '',
    section_title_class = '';
    animation_name = '';
    section_subtitle = 'Learn at your Pace',
    section_title = 'Current Signature Courses',
    course_item = [
      {
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': '/course-details'}},
        'course_thumb' : { 
            'alt': 'Course Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/courses/370/course-6.jpg') 
          },
        'course_price' : '$59',
        'course_date' : 'Mar 20, 2019',
        'course_title' : 'Introduction to Javascript for Beginners'
      },
      {
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': '/course-details'}},
        'course_thumb' : { 
            'alt': 'Course Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/courses/370/course-1.jpg') 
          },
        'course_price' : '$40',
        'course_date' : 'Jan 15, 2020',
        'course_title' : 'Learning to Write as a Professional Author'
      },
      {
        'course_link' : { 'url': { 'type': 'CONTENT', 'href': '/course-details'}},
        'course_thumb' : { 
            'alt': 'Course Thumb',
            'size_type': 'auto', 
            'src': get_asset_url('../images/courses/370/course-5.jpg') 
          },
        'course_price' : '$39',
        'course_date' : 'Aug 18, 2019',
        'course_title' : 'Master jQuery in a Short Period of Time'
      }
    ],
    all_course_link = { 'url': { 'type': 'CONTENT', 'href': '/course-grid-one'},},
    all_course_link_text = 'Get the most dedicated consultation for your life-changing course. Earn a certification for your effort and passion <mark>Get Free Guide <i class="far fa-long-arrow-right"></i></mark>'
    
    %}

    {% end_dnd_module %}

  {% end_dnd_section %}
  {# Course Section End #}

  {# Blog Section Start #}
  {% dnd_section %}
    {% dnd_module "module_163264986698725" path="../modules/home-blog", label="home-blog" 
    section_class = '',
    section_bg_color = '#f5f5f5',
    section_title_class = '',
    animation_name = 'fade-up',
    sub_title = 'Consider registering our courses?',
    title = 'Trending on <span>Our Blogs</span>'

    %}
  {% end_dnd_module %}
  {% end_dnd_section %}
  {# Blog Section End #}

  {# Brand Section Start #}
  {% dnd_section %}
    {% dnd_module "module_162928786002957" path="../modules/brand", label="brand"
    
    section_class = '',
    animation_name = '',
    brand_item = [
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-01.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-02.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-03.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-04.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-05.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-06.png') 
        },
      },
      {
        'brand_logo' : { 
          'alt': 'Brand Logo',
          'size_type': 'auto', 
          'src': get_asset_url('../images/brand/client-logo-07.png') 
        },
      }
    ]

    %}
    {% end_dnd_module %}
  {% end_dnd_section %}
  {# Brand Section End #}





  {% end_dnd_area %}
</main>
{% endblock body %}
