<!-- About Section Start -->
        <div class="about-section section section-padding-top-190 section-padding-bottom {{ module.section_class }}" data-bg-color="{{ module.section_bg_color }}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                        <div class="about-content mt-sm-50 mt-xs-50">
                            <span class="sub-title">{{ module.about_subtitle }}</span>
                            <h2 class="title">{{ module.about_title }}</h2>
                            <p>{{ module.about_desc_text }}</p>
                            {% set href = module.about_link.url.href %}
                            {% if module.about_link.url.type is equalto "EMAIL_ADDRESS" %}
                              {% set href = "mailto:" + href %}
                            {% endif %}
                            {% set rel = [] %}
                            {% if module.about_link.no_follow %}
                              {% do rel.append("nofollow") %}
                            {% endif %}
                            {% if module.about_link.open_in_new_tab %}
                              {% do rel.append("noopener") %}
                            {% endif %}
                            <a class="link link-lg" href="{{ href }}"
                              {% if module.about_link.open_in_new_tab %}target="_blank"{% endif %}
                              {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                              >
                              {{ module.about_link_text }}
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 order-lg-1 order-1">
                        <div class="about-image">
                            <div class="about-image-one">
                                {% if module.about_image_one.src %}
                                  {% set sizeAttrs = 'width="{{ module.about_image_one.width }}" height="{{ module.about_image_one.height }}"' %}
                                  {% if module.about_image_one.size_type == 'auto' %}
                                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                  {% elif module.about_image_one.size_type == 'auto_custom_max' %}
                                    {% set sizeAttrs = 'width="{{ module.about_image_one.max_width }}" height="{{ module.about_image_one.max_height }}" style="max-width: 100%; height: auto;"' %}
                                  {% endif %}
                                   {% set loadingAttr = module.about_image_one.loading != 'disabled' ? 'loading="{{ module.about_image_one.loading }}"' : '' %}
                                  <img src="{{ module.about_image_one.src }}" alt="{{ module.about_image_one.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                {% endif %}
                            </div>
                            <div class="about-image-two">
                                {% if module.about_image_two.src %}
                                  {% set sizeAttrs = 'width="{{ module.about_image_two.width }}" height="{{ module.about_image_two.height }}"' %}
                                  {% if module.about_image_two.size_type == 'auto' %}
                                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                  {% elif module.about_image_two.size_type == 'auto_custom_max' %}
                                    {% set sizeAttrs = 'width="{{ module.about_image_two.max_width }}" height="{{ module.about_image_two.max_height }}" style="max-width: 100%; height: auto;"' %}
                                  {% endif %}
                                   {% set loadingAttr = module.about_image_two.loading != 'disabled' ? 'loading="{{ module.about_image_two.loading }}"' : '' %}
                                  <img src="{{ module.about_image_two.src }}" alt="{{ module.about_image_two.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                {% endif %}
                            </div>


                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">shape 1</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4">
                                  {% if module.shape_image_one.src %}
                                    {% set sizeAttrs = 'width="{{ module.shape_image_one.width }}" height="{{ module.shape_image_one.height }}"' %}
                                    {% if module.shape_image_one.size_type == 'auto' %}
                                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                    {% elif module.shape_image_one.size_type == 'auto_custom_max' %}
                                      {% set sizeAttrs = 'width="{{ module.shape_image_one.max_width }}" height="{{ module.shape_image_one.max_height }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                     {% set loadingAttr = module.shape_image_one.loading != 'disabled' ? 'loading="{{ module.shape_image_one.loading }}"' : '' %}
                                    <img src="{{ module.shape_image_one.src }}" alt="{{ module.shape_image_one.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                  {% endif %}
                                </span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4">
                                  {% if module.shape_image_two.src %}
                                    {% set sizeAttrs = 'width="{{ module.shape_image_two.width }}" height="{{ module.shape_image_two.height }}"' %}
                                    {% if module.shape_image_two.size_type == 'auto' %}
                                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                    {% elif module.shape_image_two.size_type == 'auto_custom_max' %}
                                      {% set sizeAttrs = 'width="{{ module.shape_image_two.max_width }}" height="{{ module.shape_image_two.max_height }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                     {% set loadingAttr = module.shape_image_two.loading != 'disabled' ? 'loading="{{ module.shape_image_two.loading }}"' : '' %}
                                    <img src="{{ module.shape_image_two.src }}" alt="{{ module.shape_image_two.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                  {% endif %}
                                </span>
                            </div>
                            <div class="shape shape-4 scene">
                                <span data-depth="4">
                                  {% if module.shape_image_three.src %}
                                    {% set sizeAttrs = 'width="{{ module.shape_image_three.width }}" height="{{ module.shape_image_three.height }}"' %}
                                    {% if module.shape_image_three.size_type == 'auto' %}
                                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                    {% elif module.shape_image_three.size_type == 'auto_custom_max' %}
                                      {% set sizeAttrs = 'width="{{ module.shape_image_three.max_width }}" height="{{ module.shape_image_three.max_height }}" style="max-width: 100%; height: auto;"' %}
                                    {% endif %}
                                     {% set loadingAttr = module.shape_image_three.loading != 'disabled' ? 'loading="{{ module.shape_image_three.loading }}"' : '' %}
                                    <img src="{{ module.shape_image_three.src }}" alt="{{ module.shape_image_three.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                                  {% endif %}
                                </span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->